<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>STB23 | Footer</title>
</head>
 <!--Footer-->
<footer th:fragment="footer" class="container-fluid py-1 border-top box-shadow bg-light text-break">
   <div class="py-2 my-1">
     <ul class="nav justify-content-center border-bottom pb-2 mb-1">
       <li class="nav-item">Ce projet a été hébergé sur <a href="https://www.clever-cloud.com/" class="nav-link">Clever Cloud</a>.</li>
     </ul>
     <p class="text-center text-muted">&copy; 2023 - STB23, Projet TP08 - Langages WEB 2 - XML</p>
   </div>
 </footer>
 </body>
</html>